::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 0 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(101, 101, 101);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }